<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#!">Anya Technologies Ltd</a>
            <a class="btn btn-primary" href="#signup">Sign Up</a>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h2 class="mb-5">Leverage I.T. to accelerate business transformation and create value for your customers</h2>
                        <!-- Signup form-->
                        <form>
                            <div class="input-group input-group-lg">
                                <input class="form-control" type="text" placeholder="Enter your email to sign up for our free newsletter" aria-label="Enter your email..." aria-describedby="button-submit" />
                                <button class="btn btn-primary" id="button-submit" type="button">Sign up!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                        <h3>Your business is our business</h3>
                        <p class="lead mb-0">We build I.T. systems to solve problems, that's the easy part but we're more interested in understanding your business so we can build the system that creates the most positive impact.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>Full Life Cycle Management</h3>
                        <p class="lead mb-0">We're as passionate about solving business problems as much as I.T. problems. We have the expertise to discuss the business challenges you're facing, analyse the requirements and build and sustain a full enterprise application to meet your needs. As a company built on a passion for business integrity and a team of real engineers, we engineer world class I.T. systems that are pretty on the surface and robust and scalable under the hood. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                        <h3>Easy to deal with</h3>
                        <p class="lead mb-0">As a young and passionate company, we've taken all the learnings from the dinosaurs and package them into a seamless experience. We offer free consultations that are really casual chats with no obligation whatsoever as each customer is a chance for us to learn and build a connection. We'll lay out the process in laymans terms from start to finish and see if there is a win/win agreement. If both of us are not happy then we will call it a day.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Our Moral Compass</h2>
                    
                    <div class="lead mb-0">
                        <ol>
                            <li>Honesty - We're paraphrasing here but as the late Stephen Covey described it - Ensuring our words match reality i.e. we present the facts.</li>
                            <li>Integrity - Guess who? Yes the same guy and we're paraphrasing again - we ensure our actions match our words, we don't make promises we can't keep and say things we can't deliver on, if we accidentally do, we own our mistakes.</li>
                            <li>Journey for perfection - when we engaged with any customer we approach it in the best way we know how and ensure each time we improve. We're a bunch of perfectionists in every area of our business.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Built for the future</h2>
                    <p class="lead mb-0">Building on our moral compass</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>All our services are available remotely. We're based in Dublin but can can deliver every step of our services from the comfort of your office or home.</h2>
                    <p class="lead mb-0">Admit it, it's easier this way, lazy is good sometimes ;)</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials-->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="..." />
                        <h5>Sean Deery</h5>
                        <p class="font-weight-light mb-0">"They built a website for my electrical contractor firm and I'm delighted, take a look https://www.sldelectrical.ie/"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="call-to-action text-white text-center" id="signup">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                    <!-- Signup form-->
                    <form>
                        <div class="input-group input-group-lg">
                            <input class="form-control" type="text" placeholder="Enter your email..." aria-label="Enter your email..." aria-describedby="button-submit" />
                            <button class="btn btn-primary" id="button-submit" type="button">Sign up!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Designed and Engineered in house - Anya Technologies Ltd 2024. All Rights Reserved.</p>
                    <p class="text-muted small mb-4 mb-lg-0">CRO Register Number:749300 - ANYA TECHNOLOGIES LIMITED</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="https://www.instagram.com/thalesconsulting/"><i class="bi-instagram fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="https://www.linkedin.com/company/thales-consulting-ltd"><i class="bi-linkedin fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="https://www.facebook.com/Thales-Consulting-103737528890202"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="https://twitter.com/ConsultThales"><i class="bi-twitter fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>